.cross {
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    top: 10px;
    right: 10px;
    background-color:white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
