html, body, #root {
    height: 100%;
}

.App {
    height: 100%;
    display: block;
}

* {
    -webkit-appearance:none;
    touch-action: manipulation;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*:focus {
    outline: none;
}

.new-modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.modal {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid;
    padding-top: 40px;
    background-color: #fff;
}

.row {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 1000;
}

.button {
   width: 100px;
   height: 50px;
   cursor: pointer;
   color: black;
   border: 1px black solid;
   background: rgba(255, 255, 255, 1);
}

.button:active { 
    transform: scale(0.98); 
} 

.modal-close {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}